@import "./light.styl"

// 隐藏元素，但保留位置
.gt-hide
  visibility hidden

.gt-shadow
  box-shadow 2px 2px 3px rgba(200, 200, 200, 0.5)

.gt-text-nowrap
  white-space nowrap
  text-overflow ellipsis

.gt-text-title
  font-size 16px
  font-weight bold
  font-family 'Times New Roman', Times, serif

.gt-text-secondary-title
  font-size 14px
  font-weight bold
  font-family 'Times New Roman', Times, serif

.gt-text-content
  font-size 12px
  font-family 'Times New Roman', Times, serif

.gt-text-content-big
  font-size 14px
  font-family 'Times New Roman', Times, serif

.gt-text-content-sub
  font-size 12px
  color darkgrey
  font-family 'Times New Roman', Times, serif

.gt-noselect *
  -moz-user-select none !important
  -webkit-user-select none !important
  -ms-user-select none !important
  -khtml-user-select none !important
  user-select none !important
  -webkit-touch-callout none
  cursor default !important

.gt-bg-dark
  background-color lighten(invert($default-content-background-color), 10%) !important

.gt-header-bg-dark
  background-color invert($default-header-background-color) !important

.gt-text-dark
  color invert($default-text-color) !important

.gt-header-border-dark
  border-color darken(invert($default-header-border-color), 30%) !important

gtContentBorderDark()
  return invert($default-content-border-color)

.gt-content-border-dark
  border-color gtContentBorderDark()

.gt-animation
  transition all 0.1s

.gt-mask-show
  width 100%
  height 100%
  z-index 998
  position absolute
  background-color grey
  opacity 0.5
  transition opacity 0.2s

.gt-mask-hide
  opacity 0
  transition opacity 0.2s

.gt-update-animate-item
  transition transform 0.5s

.gt-update-animate-enter, .gt-update-animate-leave-to
  height 0

.gt-update-animate-leave-active
  position absolute

.gt-update-animate-enter-active
  animation fadeInDown 1s
