@import '../../../styles/light.styl'

.gt-gantt-header
    width 100%
    height var(--header-height)
    position sticky
    position -webkit-sticky
    white-space nowrap
    top 0
    z-index 5
    overflow hidden
    background-color $default-header-background-color
    border-bottom 1px solid $default-header-border-color

    .gt-gantt-header-chunk
        display inline-block
        position relative
        text-align center
        white-space nowrap
        height 100%
        top 50%
        font-size 12px
        font-weight bold
        border-top 1px solid $default-header-border-color
        border-right 1px solid $default-header-border-color
        box-sizing border-box

    .gt-gantt-header-chunk-month
        display inline-block
        position absolute
        font-size 12px
        font-weight bold
        top -40%

.gt-gantt-header-today-arrow
    position absolute
    top 20px
    opacity 0.5
    border-radius 2px
    border-style solid
    border-width 7.5px
    border-color transparent
    border-top-color lightblue
    -webkit-animation today-arrow 0.8s infinite

    // 让上面的箭头动起来
    @keyframes today-arrow
        0%
            top 20px

        /* 从20%的地方才开始变形 */
        20%
            border-radius 2px

        50%
            top 15px

        /* 到80%的地方恢复原状 */
        80%
            border-radius 2px

        100%
            top 20px