@import "../../styles/light.styl"

.gt-operation-drawer
    height 100%
    padding 20px
    background-color $default-content-background-color
    color $default-text-color
    position absolute
    z-index 999
    box-shadow 0 0 10px 2px grey
    transition all 0.5s

.gt-drawer-reset-btn
    margin-left 20px
    display inline-block