@import "../../../styles/light.styl"

.gt-table-row
    width 100%
    display flex
    flex row nowrap
    flex-shrink: 0
    background-color: $default-content-background-color;
    border-bottom: 1px solid $default-content-border-color;
